<%- include('../include/head.ejs') %>

</head>

<body>

    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">

              <div class="card-body container">
                <a href="/" class="d-flex align-items-center justify-content-center text-nowrap logo-img">
                  <img src="/assets/images/logos/logo.svg" width="180" alt="margin-left: 30%" />
                </a>
                <% if(errorMessage){ %>
                    <div class="user-message user-message--error"><%=errorMessage %></div>
                <% } %>
                <p class="text-center">منصة التأجيل الدراسي</p>
                <form action="/new-password" method="POST">
                  <div class="mb-3">
                    <label for="password" class="form-label">كلمة السر الجديدة</label>
                    <input type="password" 
                    class="form-control" 
                    name="password" 
                    id="password">
                  </div>

                  <input type="hidden" name="userId" value="<%= userId %>">
                  <input type="hidden" name="passwordToken" value="<%= passwordToken %>">

                  <button class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" type="submit">إعادة ضبط كلمة المرور</button>
                </form>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
<%- include('../include/end.ejs') %>